.hero-section{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:#fff;
   
}
.hero-sub-title{
    color:#fff;
}
.hero-section p{
    color:#fff;
}
.img-container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.img-container img{
    width:300px;
    height: auto;
    border-radius: 10px;
}